* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  width: 55%;
  height: 100%;
}

.header {
  text-align: center;
  color: rgb(252, 252, 252);
  font-size: 2rem;
  padding: 3rem;
}

.btn {
  width: 80%;
  padding: 1.5rem;
  margin: 0.8rem;
  cursor: pointer;
  font-size: 1.8rem;
  background: none;
  border: 2px solid rgb(252, 252, 252);
  transition: 0.6s background-color ease-in-out;
}

.submit {
  margin-top: 3rem;
  width: 60%;
}

.btn:hover,
.btn:focus {
  background-color: #a972cb;
  border: 2px solid #a972cb;
  color: rgb(252, 252, 252);
}

.submit:hover,
.submit:focus {
  background-color: #93cb72;
  border: 2px solid #93cb72;
}

.message {
  margin-top: 2rem;
  font-size: 2rem;
  color: rgb(252, 252, 252);
  text-align: center;
}

.finish {
  font-size: 3.5rem;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  body {
    background-image: url("/background-mobile.jpg");
  }
  .container {
    width: 90%;
    height: 100%;
  }
  .header {
    padding-bottom: 2rem;
    font-size: 1.7rem;
  }
  .btn {
    font-size: 1.5rem;
  }
  .option {
    padding: 1rem;
    margin: 0.5rem;
  }
  .submit {
    margin-top: 1rem;
  }
  .message {
    font-size: 1.5rem;
  }
  .finish {
    font-size: 2.5rem;
  }
}